.section1 {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
}

.section1 h1 {
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    color: red;
}

.section1 h3 {
    font-family: 'Times New Roman';
    font-size: 2rem;
    color: red;
}

.section1 h4 {
    font-family: 'Times New Roman';
    font-size: 1rem;
    color: red;
}

.section1 .div-button {
    width: 30%;
    display: flex;
}

button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
}

#button1 {
    background-color: #4CAF50;
}

#button1:hover {
    background-color: chartreuse;
}

#button2 {
    background-color: #880a0ae5;
}

#button2:hover {
    background-color: rgb(209, 71, 47);
}

.section2 {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.h3Content {
    font-family: 'Cookie';
    font-size: 2rem;
    color: red;
}

#content {
    width: 50%;
    height: 30px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}